*{
    box-sizing: border-box;
}

body{
    margin: 0;
    overflow: auto;
    background-color: #f0f2eb;
    font-family: Arial, Verdana, Tahoma, Sans-Serif;
    color: #333333;
}



.intro-content{

    margin-top: 10%;
    margin-bottom: 10%;
}

.content{
    background-color: white;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-top: 15px;
    margin-bottom: 25px;
}

a {
    color: #333;
    transition: all 1s ease-out;
}
  
a:hover,
a:focus {
    color:#333;
    background-color: rgb(209, 209, 209);
}

.list-group a:hover,
a:focus{
    color:#333;
    background-color: rgb(209, 209, 209);
}

.content-video{
    margin-bottom: 20px;
}

h1, p{
    font-weight: light;
}

p{
    font-size: 24px;
}

header{
    background-color: #cdd1ca;
    padding-top: 5px;
    padding-bottom: 5px
}

.menu{
    display: flex;
    justify-content: space-between;
    width: 90vw;
}
.subItens{
    display: flex;
    justify-content: flex-end;
}
.iconeMenu{
    padding: 5px;
    height: 35px;
    margin-left: 5px;
}

header a{
    color: black;
}

@media (max-width:480px) {
    .txtCursos{
        display: none;
    }
}
